#keyboard {
  display: flex;
  flex-direction: column;
  margin: auto;
  --gap: 5px;
  gap: var(--gap);
  margin-left: auto;
  margin-right: auto;  
  width: calc(var(--width)*10/11);
  overflow-x: auto;
  margin-bottom: 10px;
}

#keyboard button span {
  background-color: transparent;
}

button span.big {
  display: contents;
}

@media screen and (max-width: 900px) {
  button span.big {
    display: none;
  }
}

#keyboard div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: var(--gap);
}

#keyboard div:nth-child(2) {
  margin-left: 0.5em;
}

#keyboard button.inverse {
  color: var(--white);
  text-shadow: 2px 2px var(--black);
}

#keyboard button {
  justify-self: stretch;
  width: calc(var(--width)/11.5); /*11.5);*/
  min-height: calc(max(3rem,33vh/3));
  font-size: 2em;
  font-weight: bold;
  color: var(--black);
  text-shadow: 2px 2px var(--white);
  font-family: InputBetaMono, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#keyboard button.wide {
  width: calc(var(--width)/8);
}

#keyboard button::first-letter {
  text-transform: uppercase;
}

#keyboard.over {
  animation: bump 150ms linear 3;
}
@keyframes bump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.25rem);    
  }
  100% {
    transform: translateY(0);
  }
}

#keyboard button:active,#keyboard button.active {  
  animation: pop 250ms ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }  
  70% {
    transform : scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#keyboard button {
  border-radius: 0.125em;
  border: none;
  display: grid;
  place-content: center;
  text-transform: uppercase;
}
.big {
  text-transform: none;
}

@media screen and (max-width: 400px) {
  #keyboard {
    --gap: 1px;    
    width: -webkit-fill-available;
  }
  #keyboard button {
    font-size: 0.8rem;
    border-radius: 5px;
    box-sizing: border-box;
    width: calc(var(--width)/10);
  }
}