#victory {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--width);
  max-width: var(--width);
  height: var(--height);
  max-height: var(--height);
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.25);
  transform-origin: center center;
  transition: all 500ms;
  display: grid;
  place-content: center;
  z-index: 2;
  background-color: #fff6;
}
#victory > * {
  background-color: var(--white);
  color: var(--black);
  box-sizing: border-box;
  padding: 2em;
  border: 1px solid var(--grey);
  box-shadow: 3px 3px #0004;
  border-radius: 5px;
  max-width: calc(100vw - 2em);
  overflow: auto;
  max-height: calc(100vh - 10em);
}

#victory button:hover {
  transform: scale(1.1);
}

#victory a {
  text-decoration: none;
  color: var(--black);
}

#victory a:hover {
  text-decoration: underline;
  color: var(--dark-blue);
}

#victory.active {
  transform: scale(1);
  pointer-events: all;
  opacity: 1;
}
#victory .center {
  position: relative;
}
#victory button.c {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 2em;
  width: 2em;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

#victory button:last-child {
  margin-left: auto;
}
#victory .bar {
  display: flex;
  align-items: stretch;
  gap: 3px;
}
#victory button {
  padding: 1em;
  font-weight: bold;
  background-color: var(--white);
  border: 1px solid var(--grey);
  color: var(--grey);
  border-radius: 5px;
  display: inline-block;
}
#victory button:hover {
  background-color: var(--highlight);
  color: var(--highlight-fg);
  transition: all 300ms;
}
#victory button.plusOne {
  background-color: var(--highlight);
  color: var(--highlight-fg);
  font-weight: bold;
}
#victory button.c:hover {
  background-color: var(--yellow);
  color: var(--black);
}
#draw,
#draw img {
  max-width: 100%;
  width: 100%;
  max-height: calc(100vh - 8em);
  object-fit: contain;
}

#draw {
  margin: auto;
}

.today-streak {
  display: flex;
  flex-direction: column;
}
.today-header {
  margin-bottom: -0.5em;
}
.day-buttons {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  font-size: 0.8em;
  gap: 5px;
  overflow-x: auto;
}
.day-buttons button {
  font-size: 60%;
}

.right {
  margin-left: auto;
  display: flex;
}

#victory .play {
  background-color: var(--white);
  color: var(--black);
  border: none;
  min-width: 2em;
  min-height: 2em;
  display: inline-block;
}

#victory .mini-summary-box {
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.mini-summary-box .icon {
  position: absolute;
  right: -3px;
  top: -8px;
}

#victory .mini-summary-box button {
  background-color: transparent;
}
#victory .success {
  background-color: var(--green);
}
#victory .failure {
  background-color: var(--yellow);
}
.overall-streak {
  margin-left: auto;
  text-align: right;
}
.overall-streak button {
  border-width: 0 !important;
}
.overall-streak button:hover {
  border-width: inherit !important;
}
.n-streak .hide,.n-streak .show {
  transform-origin: top;
  transition: all 300ms;
}

.n-streak .hide {
  max-height : 0;  
  transform: scaleY(0);  
  opacity: 0;
}

.n-streak .show {  
  max-height : 8em;
  overflow-y: auto;
  display: block;
  transform: scaleY(1);
  opacity: 1;
}
.copy-icon {
  width: 1.5em;
  height: 2em;
  border: 2px solid black;  
  position: relative;
  top: -2px;
  left: -2px;
  
}
.copy-icon::after {
  content : " ";  
  background-color: var(--white);
  width: 1.5em;
  display: grid;
  height: 2em;    
  border: 2px solid black;
  position: relative;
  top: 5px;
  left: 5px;
}
.copy-text::after {
  content: "txt";
}
.copy-img::after {
  content: "img"
}

#victory button.sh {  
  display: grid;
  place-content: center;
  align-self: stretch;
}
.sh svg {
  width: 2em;
  height: 2em;
}

.streak-popout {
  position: absolute;
  top: 4em;
  left: 5%;
  padding: 1em;
  box-sizing: border-box;
  border: 1px solid #f80;
  width: 90%;
  height: 80%;
  overflow-y: scroll;
  background-color: var(--white);
  z-index: 99;
}